/* ROOT */
:root{
    --text-main-color : theme('colors.main-orange');
    --main-dark-orange : theme('colors.main-dark-orange');
}
/*ROOT END */

/* Tailwind */
@tailwind base;
@tailwind components;

/* STYLES */

/* BASE */
body{ font-family: 'Poppins', sans-serif; font-weight: 500; @apply duration-200; }
h1{ font-size: 40px; line-height: 0.9; white-space: nowrap; }
h1 span, h2 span, h3 span{ color: theme('colors.main-orange'); background: -webkit-linear-gradient(45deg, theme('colors.main-orange'), #FF9014, theme('colors.main-orange')); -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent; background-size: 200% auto; overflow: hidden; }
h1 span{ display: block; font-size: 5.5rem; width: 100%; animation: backgroundColour 4s linear 0.5s infinite; /* fullWidth 1.2s linear 0.6s forwards, */ }
h3 span{ animation: backgroundColour 4s linear 0.5s infinite; }
h2{ font-size: 35px }
h3{ font-size: 26px; }
a:hover{ @apply duration-200; }
.main-bg{ background-color: theme('colors.main-orange'); }
.main-button{ background-color: transparent; overflow: hidden; display: block; width: 150px; text-align: center; width: fit-content; position: relative; }
.main-button:before, .main-button:after{ content: ''; position: absolute; top: 50%; left: 0%; transform: translateY(-50%); z-index: -1; transition: 0.6s; }
.main-button:before{ background-color: theme('colors.main-orange'); width: 100%; height: 100%; }
.main-button:after{ background-color: theme('colors.main-dark-orange'); width: 0%; height: 110%; border-radius: 20px; left: -50%; transition: 0.8s; }
.main-button:hover:after{ width: 200%; }
.main-light-bg{ background-color: theme('colors.main-light-orange'); }
.text-main-orange{ color: theme('colors.main-orange'); }
.text-main-light-orange{ color: theme('colors.main-light-orange'); }

/* NAV */
nav ul li a{ @apply block mt-4 inline-block mt-0 text-black font-semibold mr-4;  }
nav ul li a:hover{ color: var(--text-main-color); }
nav{ transition: 0.3s; }
.nav-transparent{ background-color: transparent !important; }
.nav-transparent a{ @apply text-white; transition:1s;  filter: drop-shadow(1.5px 1.5px 1px #333);}
.nav-transparent a:hover{ @apply text-black; }
/*.nav-transparent ul li a { @apply text-black; }*/
/* nav.onScroll{ box-shadow: 0 0 7px -1px rgba(0,0,0,0.7); transition: 0.5s; } */
.scroll-down-arrow{ width: 35px; height: 35px; display: block; margin: auto; animation: moveUpDown 2s linear infinite; }

/* HEADER */
.header__right img, .about__right img{ max-width: 90%; margin: auto; }

/* ABOUT */
.bg-about-image{ background-image: url('../images/bg-about.svg'); background-size: auto 100%; background-repeat: no-repeat; background-position: center right; background-color: var(--main-dark-orange); }
.bg-about-image h1, .bg-about-image h2, .bg-about-image h3, .bg-about-image h4, .bg-about-image h5, .bg-about-image h6, .bg-about-image p{ @apply text-white; }

/* SECTION */
.service-card{ text-align: center; }
.service-card h3{ font-size:26px; margin-bottom: 10px; }
.service-card img{ width: 100%; height: 300px; margin: auto; margin-bottom: 20px; }
.service-card p { max-width: min(320px, 100%); margin: auto; display: block; }
.portfolio-background{ padding: 100px 60px; }

/*FOOTER */
.contact{ height:100%; color: #fff; background-color: var(--main-dark-orange); }
.contact p{ font-size:18px; }
footer ul li a{ @apply block mt-4 inline-block mt-0 text-black font-semibold mr-4; }
footer ul li a:hover{ color: var(--text-main-color); } 

/* RESPONSIVE */
@media screen and (max-width:1023px){
    h1{  font-size: 28px; }
    h1 span{ font-size: 38px; }
    h2{ font-size:26px; }
    nav ul li a{ margin: 0px 10px; }
    .portfolio-background{
        padding: 20px;
    }
}
@media screen and (max-width:992px){
    html{ font-size: 14px; }
    body{ overflow: hidden !important; width:100%; }

    .header__right img, .about__right img{ max-width: 70%; }

    .bg-about-image{ background-image: none; }

    .service-card h3{ font-size: 14px; margin-bottom: 5px; }
    .service-card img{ width: 80%; height: auto; margin-bottom: 0px; }
    .services .w-full .service-card img { width: 60%; }
    .service-card p{ font-size: 12px; padding: 0px 10px; }

    .portfolio-container{ padding-right: 30px; }
    .portfolio-container h3{ font-size: 22px; }

    .contact-content{ width: 80%; padding: 0px 15px; }
    .contact-content p span{ display: block; }
    .contact p{ font-size: 16px; }
    

    footer ul li{ line-height: 14px; }
    footer ul li a{ font-size: 10px; }
    footer div p.text-base{ font-size: 10px; margin-bottom: 0px; }
}

/* ANIMATIONS */
@keyframes fullWidth { 0%{   width: 0%; } 100%{ width: 100%; } }
@keyframes backgroundColour { 0%{   background-position: 0%; } 100%{ background-position: 200%; } }
@keyframes moveUpDown { 0%{   transform: translateY(0px); } 50%{  transform: translateY(-20px); } 100%{ transform: translateY(0px) } }

/* END STYLES */

/* Tailwind */
@tailwind utilities;